<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Report Details</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Count</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in popup.items">
                    <td>{{ item.dataName }}</td>
                    <td>{{ item.data }}</td>
                    <td ng-click="popup.openLink(item)">Go to</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="popup.close()"><i class="fa fa-times"></i></button>
</div>